/* Custom Stylesheet */

@import url("../demo/css/font-awesome.min.css");

body, html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #aadfeb;
    text-align: center;
    font-family: helvetica;
}

/* Tabs Demo 1 */
.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
  width: 560px;
  height:560px;
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
  margin: -30px auto;
}
.tabs li{
  float: left;
}
.tabs label {
    display: block;
    padding: 10px 10px;
    border-radius: 2px 2px 0 0;
    color: #08C;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Roboto', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: rgba(255,255,255,0.5);
  top: 0;
}

[id^=tab]:checked + label {
  background: #08C;
  color: white;
  top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
  z-index: 2;
  display: none;
  text-align: left;
  width: 100%;
  font-size: 20px;
  line-height: 140%;
  padding-top: 0px;
  background: #08C;
  padding: 15px;
  color: white;
  position: absolute;
  top: 0px;
  left: 0;
  box-sizing: border-box;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.btn-selective{
  /* float:right; */
  position: absolute;
  right:175px;
  top:2px;
}

.btn-download{
  position:absolute;
  right:60px;
  top:2px;
}


#fa-chevron-right a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
#fa-chevron-right a:hover{color:#cacdd6; cursor: pointer;}

#fa-chevron-right a:hover:after{
  opacity: 1;
  margin-left: .4em;
}

#fa-chevron-right a:after {
  content: '\f054';
  display: inline-block;
  font-family: 'FontAwesome';
  color: #bbb8a9;
  transition: all .25s;
  opacity: 0;
  margin-left: -.5em;
}
#fa-chevron-right li {
  transform: translateY(1px);
}
#fa-chevron-right li:last-of-type a:after {
  margin: 0;
  transform: scale(0.6) translateX(0.3em) translateY(2px);
  transition: transform .25s;
}
#fa-chevron-right li:last-of-type a:hover:after {
  transform: scale(1) translateX(0.8em) translateY(1px);
}

.rHome{
  position: absolute;
  right:10px;
  top:15px;
}

.btn-save{
  position: absolute;
  right:10px;
  bottom: 10px;
}