<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Creative Coming Soon Template">
    <meta name="author" content="Nancy & Jessica">
    <meta name="keywords" content="">
    <!-- title -->
    <title>Beautipho - Website for Photo Beautifying</title>
    <!-- CSS IMPORT -->
    <link rel="stylesheet" href="../static/demo/css/style.css" type="text/css">
    <link rel="stylesheet" href="../static/demo/css/motion.min.css">
    <!-- support HTML5 elements and media queries for IE9 -->
    <!--[if lt IE 9]>
      	<script src="js/html5shiv.js"></script>
      	<script src="js/respond.min.js"></script>
    	<![endif]-->
    <!-- 收藏用logo图标 -->
    <link rel="bookmark"  type="image/x-icon"  href="../static/demo/favicon.ico"/>
    <!-- 网站显示页logo图标 -->
    <link rel="shortcut icon" href="../static/demo/favicon.ico">
</head>
<body class="simple">
    <!-- preloader -->
    <div class="preloader-container">
        <div class="content-container">
            <!-- preloader -->
            <span class="spinner-section-far"></span>
            <!-- end preloader -->
            <h6 class="preloader-text">
                LOADING</h6>
        </div>
    </div>
    <!-- end preloader -->
    <!-- logo -->
    <img class="img-logo" alt="logo" src="../static/demo/img/logo_white.png" />
    <!-- end logo -->
    <!-- menu -->
    <div class="open">
        <div class="cls">
        </div>
        <div>
            <ul class="sub-menu-t">
                <li class="active"><a class="menu-link" data-section="home" data-nav-title="home"
                    data-section-pos="0" data-section-posy="0">Home <i class="fa fa-fw fa-home"></i>
                </a></li>
                <li><a class="menu-link" data-section="about" data-nav-title="about" data-section-pos="0"
                    data-section-posy="-100">About Us <i class="fa fa-fw fa-star-o"></i></a></li>
                <li><a class="menu-link" data-section="works" data-nav-title="works" data-section-pos="-100"
                    data-section-posy="-100">Service <i class="fa fa-fw fa-bell-o"></i></a></li>
                <li><a class="menu-link" data-section="contact" data-nav-title="contact" data-section-pos="-100"
                    data-section-posy="0">Contact Us<i class="fa fa-fw fa-list"></i></a></li>
            </ul>
        </div>
        <div class="cls">
        </div>
    </div>
    <!-- end menu  -->
    <!-- page container -->
    <div class="page-container">
        <!-- section container -->
        <div class="section-container">
            <!-- home section -->
            <section class="home-section">
        	    	<!-- section background -->
        	    	<div class="bg-container"></div>
                	<!-- end section background -->
                	<!-- content -->
                	<div class="content col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-rlt no-pad centering-y">            	    	
            	    	<div class="col-md-12 col-sm-12">
                	    	<!-- headline -->
                	    	 <img height="55px" width="280px"  src="../static/demo/img/Beautipho.png" />          
                            <div class="sub-title" id="wordsrotator">
                		    	<h4>beautify photo</h4>	
                	    	</div>                     	    	
                	    	<!-- end headline -->                               
                	    	<!-- short description -->
                	    	<p class="desc">
                		    	Providing the basic tools for photo beautifying.<br>Besides, there are more funny functions waiting for you to find out!
                	    	</p>
                	    	<!-- end short description -->
                            <!-- countdown container -->
                        	<div class="countdown-container">
                    	    	 <!-- numbers of style -->
								 <div class="dash days_dash">
									<div class="counter">
										   <div class="dash_title">style</div>
										   <div class="digit">0</div><div class="digit">6</div>
						   </div>
								   </div>
											<!-- end numbers of style -->
											<!-- numbers of hat -->
											<div class="dash hours_dash">
									   <div class="counter">
										   <div class="dash_title">topknot</div>
										   <div class="digit">1</div><div class="digit">0</div>
						   </div>
									  </div>
											<!-- end numbers of hat -->
											<!-- numbers of mask -->
											<div class="dash minutes_dash">
									   <div class="counter">
										   <div class="dash_title">mask</div>
										   <div class="digit">0</div><div class="digit">6</div>
						   </div>
									  </div>
										   <!-- end numbers of mask -->
											<!-- numbers of border -->
									  <div class="dash seconds_dash">
									   <div class="counter">
										   <div class="dash_title">border</div>
										   <div class="digit">0</div><div class="digit">4</div>
						   </div>
									  </div>
											<!-- end numbers of border -->
            		        </div>
                        	<!-- end countdown container -->
                    	</div>                    	
                	</div>
                	<!-- end content -->         
            	</section>
            <!-- end home section -->
            <!-- about section -->
            <section class="about-section">
        	    	<!-- section background -->
        	    	<div class="bg-container-static"></div>
                	<!-- end section background -->            
                	<!-- content -->
                	<div class="content col-md-8 col-md-offset-2 col-sm-12 col-sm-rlt col-xs-12 no-pad centering-y">
                    	<div class="col-md-12 col-sm-12">
                         <h1>About</h1>
                	    	<!-- company description -->
                        	<div class="desc">
                    	    	<!-- quote -->
                            	<p class="quote separator-line">
                        	    	WE CREATE AWESOME PRODUCTS & WE REALLY LOVE WHAT WE DO.
                            	</p>
                            	<!-- end quote -->
                        
                            	<p class="mrg-top-sm">
                        	    	We often take photos to record the second in our daily life. However, only raw photos sometimes may not reach the expectation of us, or there is just a deviation from the reality 
                        	    	for technique reasons or the camera.
                            	</p>
                        
                            	<p class="mrg-top-sm">
                        	    	And here we are. Give birth to <i><b>Beautipho</b></i>, a photo beautifying website. You can use it to make your raw photos get more closer to your expectation. For further, we provide some interesting functions for all of you waiting to be found.
                            	</p>
                        	</div>
                        	<!-- end company description -->
                    	</div>                    	
                	</div>
                	<!-- end content -->
            	</section>
            <!-- end about section -->
            <!-- service section -->
            <section class="works-section">
        	    	<!-- section background -->
        	    	<div class="bg-container-static"></div>
                	<!-- end section background -->
                	<!-- content -->                	
            	    	<div class="content col-md-8 col-md-offset-2 col-sm-12 col-sm-rlt col-xs-12 no-pad centering-y">
              	    	<div class="col-md-12 col-sm-12">
              	    	<div id="fa-chevron-right">
							<h4><a href="{{url_for('process')}}">Start Beautipho to make fasciating world!</a></h4><br>
						</div>
               	    	</div>
                	    	<div class="carousel-col">
                    	    	<!-- service 1 -->
                    	    	<div class="service col-md-4 description1">
                    		    	<!-- img container -->
                        	    	<div class="probootstrap-card-media" class="icon-container">
                        		    	<img src="../static/demo/img/figure1.jpg" class="img-responsive" alt="PORTRAIT  BEAUTIFY">
                        	    	</div>
                        	    	<!-- end img container -->
                        
                        	    	<!-- text container -->
                        	    	<div class="text-container">
                        		    	<h6>PORTRAIT  BEAUTIFY</h6>
                        	        	<p class="mrg-top-xs"><i>Beautipho</i> can fix skin blemishes and remove wrinkles.  In addition to skin smoothing, <i>Beautipho</i> can also adjust brightness to make the photos more fascinating.</p>
                        	    	</div>
                        	    	<!-- end text container -->
                    	    	</div>
                    	    	<!-- end service 1 -->
                        
                            	<!-- service 2 -->
                    	    	<div class="service col-md-4 description2">
                    		    	<!-- img container -->
                        	    	<div class="probootstrap-card-media">
                        		    	<img src="../static/demo/img/figure2.jpg" class="img-responsive" alt="FACE RECOFNITION">
                        	    	</div>
                        	    	<!-- end img container -->
                        
                        	    	<!-- text container -->
                        	    	<div class="text-container">
                        		    	<h6>FACE RECOFNITION</h6>
                        	        	<p class="mrg-top-xs"><i>Beautipho</i> can add little ornaments which you can choose from the database, like hats and glasses, depending on the faces it recognizes.</p>
                        	    	</div>
                        	    	<!-- end text container -->
                    	    	</div>
                    	    	<!-- end service 2 -->
                        
                            	<!-- service 3 -->
                    	    	<div class="service col-md-4 description3">
                    		    	<!-- img container -->
                        	    	<div class="probootstrap-card-media">
                        		    	<img src="../static/demo/img/figure3.jpg" class="img-responsive" alt="ADD BORDERS">
                        	    	</div>
                        	    	<!-- end img container -->                      
                        	    	<!-- text container -->
                        	    	<div class="text-container">
                        		    	<h6>ADD BORDERS</h6>
                        	        	<p class="mrg-top-xs">"I want to make my photo more special!" <i>Beautipho</i> helps you to add decorating things around the photos, like borders.</p>
                        	    	</div>
                        	    	<!-- end text container -->
                    	    	</div>
                    	    	<!-- end service 3 -->
                        	</div>
                    	</div>
                	
                	<!-- end content -->
            	</section>
            <!-- end works section -->
            <!-- contact section -->
            <section class="contact-section">
        	    	<!-- section background -->
        	    	<div class="bg-container-static"></div>
                	<!-- end section background -->
                	<!-- content -->
                	<div class="content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-pad centering-y col-sm-rlt">
            	    	<!-- details -->
                    	<div class="col-md-4 col-sm-12">
                	    	<!-- office -->
                        	<div class="details">
                    	    	<h5>office</h5>
                            	<p>Pure Pixels <br />Main Building 603</p>
                        	</div>
                        	<!-- end office -->
                    
                        	<!-- phone -->
                        	<div class="details">
                    	    	<h5>phone</h5>
                            	<p>+86 189 7731 0109<br />+86 186 1203 5264</p>
                        	</div>
                        	<!-- end phone -->
                    
                        	<!-- email -->
                        	<div class="details">
                    	    	<h5>email</h5>
                            	<p>654762676@qq.com<br />137126578@qq.com</p>
                        	</div>
                        	<!-- end email -->
                    
                        	<!-- social media -->
                        	<div class="details">
                    	    	<h5>stay connected</h5>
                        
                            	<!-- social media container -->
                            	<div class="social-media-container"><a class="social-media" href="https://www.facebook.com/DonaldTrump/"><em class="fa fa-facebook"></em></a> <a class="social-media" href="https://twitter.com/realdonaldtrump"><em class="fa fa-twitter"></em></a> <a class="social-media" href="https://www.instagram.com/realdonaldtrump/?hl=zh-cn"><em class="fa fa-instagram"></em></a></div>
                            	<!-- end social media container -->
                        	</div>
                        	<!-- end social media -->
                    	</div>
                    	<!-- end details -->
                
                    	<!-- contact form container -->
                    	<div class="contact-form-container col-md-8 col-sm-12 col-xs-12">
                	    	<h5>DROP US A LINE</h5>
                    
					    	<form class="contact-form" action="../static/demo/contact.php" method="POST" enctype="multipart/form-data">
						    	<!-- left side -->
						    	<div class="col-md-6 col-sm-12 no-pad">
							    	<div class="input-container">
								    	<input type="text" id="name" name="name" />
								    	<label for="name">name</label>
                        	        
								    	<div class="input-border-bottom"></div>
							    	</div>
						    	</div>
						    	<!-- end left side -->
                            
						    	<!-- right side -->
						    	<div class="col-md-6 col-sm-12 no-pad">
							    	<div class="input-container">
               	    		            <input type="text" id="email" name="email" /><label for="email">email</label>
                	    		            
								    	<div class="input-border-bottom"></div>
							    	</div>
						    	</div>
						    	<!-- end right side -->
                    	                        
						    	<!-- full width -->
						    	<div class="col-xs-12 text-center no-pad">                            
							    	<div class="input-container no-mrg">
								    	<textarea id="message" name="message"></textarea>
								    	<label for="message">message</label>
                                
								    	<div class="input-border-bottom"></div>
							    	</div>
                                
							    	<!-- notification container -->
							    	<div class="col-xs-12 notif-container no-pad">
								    	<div class="form-notif"></div>
							    	</div>
							    	<!-- end notification container -->
                        	
							    	<!-- button container -->
							    	<div class="col-xs-12 no-pad text-left mrg-top-xs">
								    	<button type="submit" class="button button-green button-small">send</button>
							    	</div>
							    	<!-- end button container -->
						    	</div>
						    	<!-- end full width -->
					    	</form>
                    	</div>
                    	<!-- end contact form container -->
                	</div>
                	<!-- end content -->
            	</section>
            <!-- end contact section -->
        </div>
        <!-- end section container -->
    </div>
    <!-- end page container -->  
    <!-- javascript import -->
    <!-- jquery -->
    <script type="text/javascript" src="../static/demo/js/jquery.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="../static/demo/js/bootstrap.min.js"></script>
    <!-- other plugins -->
    <script type="text/javascript" src="../static/demo/js/plugins.min.js"></script>
    <!-- google map -->
    <!-- main js -->
    <script type="text/javascript" src="../static/demo/js/main_constellation.js"></script>
</script>
</body>
</html>
