<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Start your beautifying</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="../static/css/production.css">
        <!--<link rel="stylesheet" href="../static/css/style.css">-->

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Playfair+Display:900" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

		<script src="../static/js/html5shiv.js"></script>
      	<script src="../static/js/respond.min.js"></script>
    </head>

    <body>


    <div class="grid-row">

                <!-- Header -->
        <header class="header full-width" style="background:rgba(0,0,0,1)">

        </header>

        <!-- Hero image -->
        <div class="hero-container full-width show-on-mobile pt1 pl2 pr2">
            <div class="hero full-width full-height" style="background:rgba(0,0,0,0) url(../static/upload/1.jpg) no-repeat scroll center center/cover"></div>
        </div>
        <div class="hide-on-mobile hero" style="background:rgba(0,0,0,0) url(../static/upload/1.jpg) no-repeat scroll center center/cover"></div>

        <!-- Body -->
        <div class="body full-width pt1 pr2 pb2 pl2" style="background:rgba(0,0,0,1)">
            <!-- Navigation -->
            <nav class="navigation border--bottom pt1">
                <ul class="no-bullets list--inline pb1 bold">
                    <li class="small mr2"><a class="link link--text current" href="index.html">STYLE</a></li>
                    <li class="small mr2"><a class="link link--text" href="destinations.html">HEAD</a></li>
					<li class="small mr2"><a class="link link--text" data-section="head">HEAD</a></li>
                    <li class="small mr2"><a class="link link--text" href="pricing.html">FACE</a></li>
				</ul>
                <div>
                    <ul class="sub-menu-t">
                        <li class="active"><a class="menu-link" data-section="home" data-nav-title="home"
                            data-section-pos="0" data-section-posy="0">Home <i class="fa fa-fw fa-home"></i>
                        </a></li>
                        <li><a class="menu-link" data-section="contact" data-nav-title="contact" data-section-pos="-100"
                            data-section-posy="0">Contact Us<i class="fa fa-fw fa-list"></i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- Page Content -->
            <main class="content pt2 pb2">
				<section class="style-section">
					<h2>STYLE</h2>
					<p>Quid turpius quam sapientis vitam ex insipientium sermone pendere? Et non ex maxima parte de tota iudicabis? Videamus igitur sententias eorum, tum ad verba redeamus. Quae sequuntur igitur?</p>
					<p>Ne tum quidem te respicies et cogitabis sibi quemque natum esse et suis voluptatibus? Et nunc quidem quod eam tuetur, ut de vite potissimum loquar, est id extrinsecus.</p>
					<p>Videamus igitur sententias eorum?</p>
				</section>
                <section class="head-section">
					<h2>HEAD</h2>
					<p>Quid turpius quam sapientis vitam ex insipientium sermone pendere? Et non ex maxima parte de tota iudicabis? Videamus igitur sententias eorum, tum ad verba redeamus. Quae sequuntur igitur?</p>
					<p>Ne tum quidem te respicies et cogitabis sibi quemque natum esse et suis voluptatibus? Et nunc quidem quod eam tuetur, ut de vite potissimum loquar, est id extrinsecus.</p>
					<p>Videamus igitur sententias eorum?</p>
				</section>
            </main>
                        <!-- Footer -->
            <footer class="border--top pt1 pb1">
                <p class="text--gray small mb0">&copy; Copyright | Design by</p>
            </footer>
        </div><!-- end Body -->

    </div>
	<!-- jquery -->
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    </body>
</html>

